@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}
a {
  text-decoration: none;
  color: #E9AB3F;
}

.MuiOutlinedInput-notchedOutline {
  border-width: 2px !important;
  border-color: white !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.Mui-focused .MuiSvgIcon-root {
  fill:white !important;
}

:hover .MuiOutlinedInput-notchedOutline {
  border-color: "";
}


.MuiTextField-root > .MuiFormLabel-root.Mui-focused {
  color: grey;
}